https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
fastai==1.0.51
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.7
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
future==0.17.1
gensim==3.7.1
gunicorn==19.9.0
Jinja2==2.10
Markdown==3.0.1
matplotlib==3.0.2
nltk==3.4
pandas==0.24.2
psycopg2==2.7.6.1
python-dateutil==2.8.0
scipy==1.2.1
SQLAlchemy==1.2.18


