<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kyle Caron</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/resume.min.css" rel="stylesheet">



</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Kyle Caron</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/profile2.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/florida_man">Florida Man Challenge</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#professional">Professional</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Kyle
          <span class="text-primary">Caron</span>
        </h1>
        <div class="subheading mb-5">  Data Scientist · New York, NY · 
          <a href="mailto:name@email.com">kyle.j.caron@gmail.com</a>
        </div>
        <p class="lead mb-5">Aspiring Data Scientist with a strong background in biological sciences and process engineering, utilizing statistics to optimize work and drive results. Passionate about using data to simplify the communication of results.</p>
        <div class="social-icons">
          <a href="http://www.linkedin.com/in/kylecaron">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="http://www.github.com/kylejcaron">
            <i class="fab fa-github"></i>
          </a>
        </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">

          <div class="resume-content">
            <div class="subheading mb-3"></div>
            <!-- <a href = '/florida_man'> -->
              <br>
              <br>
            <p style="font-size:2rem;"> Florida Man Challenge</p>
         <!--  </a> -->
            <p> My latest project, Neural Net generated, fictitious Florida Man headlines. Blog post coming soon!</p>
          </div>
          </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <a href="https://github.com/kylejcaron/Fraud_Detection">
            <h3 class="mb-0">Fraud Prediction</h3></a>
            <div class="subheading mb-3">Galvanize DSI</div>
            <p> Predicted fraud with a Random Forest classifier and created a web application dashboard with Flask to investigate fraudulent events in real-time. 
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <a href="https://github.com/kylejcaron/Movie_Recommender">
            <h3 class="mb-0">Movie Recommender</h3></a>
            <div class="subheading mb-3">Galvanize DSI</div>
            <p> Generated Movie Recommendations with Spark’s alternating least squares model, using KMeans clustering on user data to prevent a cold start. Users rated the recommendations 4.3/5.0 stars on average.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <a href="https://github.com/kylejcaron/Churn_case_study">
            <h3 class="mb-0">Churn Prediction</h3></a>
            <div class="subheading mb-3">Galvanize DSI</div>
            <p>Predicted ride share customer churn with a 0.85 ROC AUC score, successfully creating a Gradient Boosting model and making data driven suggestions to reduce churn.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <a href="https://github.com/kylejcaron/kaggle_bulldozer">
            <h3 class="mb-0">Price Prediction</h3></a>
            <div class="subheading mb-3">Galvanize DSI</div>
            <p> Competed in Kaggle’s Blue Book for Bulldozers using strictly Linear Regression to predict Farm Equipment prices in a one-day sprint. Achieved final RMSLE score of 0.35.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2018</span>
          </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Galvanize</h3>
            <div class="subheading mb-3">Data Science Immersive</div>
            <div class>Capstone Project: Text Summarization. Currently in progress</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - May 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">University of Connecticut</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div class>Physiology & Neurobiology</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2012 - May 2016</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <div class="row">
  
  <div class="column"></div>
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Python </li>
          <li><i class="fa-li fa fa-check"></i>SQL &amp; NOSQL</li>
          <li><i class="fa-li fa fa-check"></i>Github</li>
          <li><i class="fa-li fa fa-check"></i>AWS</li>
          <li><i class="fa-li fa fa-check"></i>Spark</li>
          <li><i class="fa-li fa fa-check"></i>Unix</li>

        </ul>
  <div class="column"></div>
      <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>SciPy</li>
          <li><i class="fa-li fa fa-check"></i>pandas</li>
          <li> <i class="fa-li fa fa-check"></i>NumPy</li>
          <li><i class="fa-li fa fa-check"></i>scikit-learn</li>
          <li><i class="fa-li fa fa-check"></i>StatsModels</li>
          <li><i class="fa-li fa fa-check"></i>NetworkX</li>
        </ul>

    <div class="column"></div>
      <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>MongoDB</li>
          <li><i class="fa-li fa fa-check"></i>PostgreSQL</li>
          <li><i class="fa-li fa fa-check"></i>Flask</li>
          <li><i class="fa-li fa fa-check"></i>matplotlib</li>
          <li><i class="fa-li fa fa-check"></i>seaborn</li>
          <li><i class="fa-li fa fa-check"></i>TensorFlow</li>
        </ul>

    <div class="column"></div>
      <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Keras</li>
          <li><i class="fa-li fa fa-check"></i>NLTK</li>
          <li><i class="fa-li fa fa-check"></i>spaCy</li>
          <li><i class="fa-li fa fa-check"></i>gensim</li>
          <li><i class="fa-li fa fa-check"></i>TextBlob</li>
          <li><i class="fa-li fa fa-check"></i>Webscraping</li>
        </ul>
          
        </ul>


</div>
      <div class="w100">
        <div class="subheading mb-3"><br>Machine Learning &amp; Stats</div>
<!--         <ul class="fa-ul mb-0"> -->
    <div class="row">
  
  <div class="column"></div>
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Probability & Statistics </li>
          <li><i class="fa-li fa fa-check"></i>Supervised Learning</li>
          <li><i class="fa-li fa fa-check"></i>Unsupervised Learning</li>
          <li><i class="fa-li fa fa-check"></i>Linear / Logistic Regression</li>
          <li><i class="fa-li fa fa-check"></i>Principal Component Analysis</li>
          <li><i class="fa-li fa fa-check"></i>Singular Value Decomposition</li>

        </ul>
  <div class="column"></div>
      <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Natural Language Processing</li>
          <li><i class="fa-li fa fa-check"></i>Naive Bayes Classification</li>
          <li> <i class="fa-li fa fa-check"></i>K-Nearest Neighbors</li>
          <li><i class="fa-li fa fa-check"></i>K-Means Clustering</li>
          <li><i class="fa-li fa fa-check"></i>Hypothesis / AB Testing</li>
          <li><i class="fa-li fa fa-check"></i>Support Vector Machines</li>
        </ul>

    <div class="column"></div>
      <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Random Forests</li>
          <li><i class="fa-li fa fa-check"></i>Gradient Boosting</li>
          <li><i class="fa-li fa fa-check"></i>Gradient Descent</li>
          <li><i class="fa-li fa fa-check"></i>Bootstrapping</li>
          <li><i class="fa-li fa fa-check"></i>Cross-Validation</li>
          <li><i class="fa-li fa fa-check"></i>Time Series</li>
        </ul>

        </ul>
      </div>
    </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Data Scientist, I enjoy most of my time playing or watching soccer. I hope to apply machine learning concepts to analyze soccer and build a better understanding of the sport. Apart from that, I enjoy being outdoors and spending time in Cape Cod.</p>
        <p class="mb-0">As a side hobby, I love to cook and spend a large amount of my time exploring new restaurants and trying new foods. Thanks to living in an italian neighborhood for two years, my homemade pasta has become one of my proudest culinary accomplishments so far.</p>
      </div>
    </section>

    <hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="professional">
      <div class="w-100">
        <h2 class="mb-5">Professional</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Research Associate</h3>
            <div class="subheading mb-3">Moderna, Inc.</div>
            <p> Produced and characterized novel lipid nanoparticle formulations as part of a high throughput screening study, summarizing data into weekly reports. As a side project, I wrote software to automate the processing of Cryo EM images in python. 
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2018 - December 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Associate Scientist</h3>
            <div class="subheading mb-3">Phosphorex, Inc.</div>
            <p>Lead for a small molecule drug delivery project, responsible for formulation and characterization of API encapsulated nanoparticles to meet customer specifications.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2017 - March 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Research Trainee</h3>
            <div class="subheading mb-3">Brigham and Womens Hospital</div>
            <p> Identified and investigated meaningful data via hypothesis testing authoring an abstract Publication submitted and approved in Neurology.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2015 - September 2015</span>
          </div>
      </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Research Assistant</h3>
            <div class="subheading mb-3">Veterans Affairs Hospital</div>
            <p> Wrote software in Excel VBA to automate data cleaning of incoming data for analysis. During my time there, I developed a novel idea into a grant submission, Adipose Tissue Metabolism and Progressive Disability in Multple Sclerosis: Potential Biomarkers for Severity Risk and Target for Therapeutic Intervention.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2013 - September 2014</span>
          </div>
      </div>

    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/resume.min.js"></script>

</body>

</html>
